// Defaults

html {
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position: relative;
  min-height: 100%;
  padding-top: $header-height--desktop;
  color: $color-text-secondary;
  overflow-x: hidden;

  @include larger-than(tablet) {
    padding-bottom: $footer-height--desktop; // Footer is position: absolute on desktop
  }
}

.body--no-footer {
  padding-bottom: 0;
}

img {
  max-width: 100%;
}
