// Custom Webfonts

@font-face {
  font-family: 'Rubik';
  src: url('../../../fonts/rubik/rubik-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../../../fonts/rubik/rubik-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
