input, textarea {
  @include reset-text-input;
}

fieldset {
  @include reset-fieldset;
}

.input-container {
  position: relative;

  & + & {
    margin-top: 2.25 * $base-spacing;
  }

  & + fieldset {
    margin-top: 2.25 * $base-spacing;
  }
}

label {
  display: block;
}

.label__text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.label__text {
  font-size: $primary-font-s;
  color: $color-text-secondary;
  line-height: 1;
  margin-bottom: $base-spacing;
  display: inline-block;
}

.label__text--error {
  font-size: $primary-font-xs;
  color: $color-error-primary;
   // to allow for signup first and last name to stack
  min-height: $primary-font-xs;
}

.label__text-sub {
  opacity: 0.5;
  font-size: $primary-font-xs;
  color: $color-text-secondary;
}

.input-wrapper {
  position: relative;
}

.input {
  width: 100%;
  border: 1px solid $color-border-primary;
  border-radius: $border-radius-primary;
  height: rem(36);
  padding: 0 $base-spacing * 1.75;
  transition: all 0.1s ease-in-out;

  &:focus {
    border-color: $color-border-quinary;
  }

  &:disabled {
    background: $color-background-senary;
    color: $color-disabled-text;
  }
}

.input__password-toggler {
  @include reset-button;
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: $primary-font-s;
  border-bottom: 1px solid #000;
  padding-bottom: 1px;
  color: $color-text-primary;
  transition: $all-transition;

  &:hover {
    color: $color-text-quinary;
    border-bottom-color: $color-border-senary;
  }
}

.input--error {
  color: $color-error-primary;
  border-color: $color-error-primary;

  &:focus {
    color: $color-text-secondary;
  }
}

.form-grid {
  display: flex;
  align-items: flex-end;

  & > * {
    & + * {
      padding-left: $base-spacing;
    }
  }

  & + .input-container {
    margin-top: 2.25 * $base-spacing;
  }
}

.form-grid--equal {
  & > * {
    flex-grow: 1;
    flex-basis: 0;
  }
}

.form-grid--dob {
  & > * {
    &:first-child {
      flex-grow: 2;
    }

    & + * {
      flex-grow: 1;
    }
  }
}

.input__checkbox {
  opacity: 0;
  height: 0;

  &:checked {
    & + label {
      &::before {
        background-color: $color-border-tertiary;
      }

      &::after {
        content: '';
        background-image: url('../../images/icons/check.svg');
        left: 0;
        width: 1rem;
        height: 1rem;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  &:disabled {
    & + label {
      color: $color-disabled-text;
      cursor: default;

      &::before {
        border: 1px solid $color-border-primary;
        background-color: $color-border-primary;
      }
    }
  }
}

.label__checkbox {
  font-size: $primary-font-s;
  color: $color-text-secondary;
  line-height: 1;
  padding-left: 3 * $base-spacing;
  cursor: pointer;
  padding-top: rem(2);
  position: relative;
  user-select: none;
  display: inline-block;

  &::before, &::after {
    position: absolute;
    left: 0;
    top: 0;
  }

  &::before {
    content: '';
    height: 1rem;
    width: 1rem;
    border: 1px solid $color-border-tertiary;
    display: inline-block;
    background: transparent;
  }
}

.input__radio {
  @extend .sr-only;

  &:checked {
    & + label {
      &::before {
        background: $color-background-primary;
      }

      &::after {
        content: '';
        background-image: url('../../images/icons/check.svg');
        left: 0;
        width: 1rem;
        height: 1rem;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}

.label__radio {
  font-size: $primary-font-s;
  color: $color-text-secondary;
  line-height: 1;
  padding-left: 3 * $base-spacing;
  cursor: pointer;
  padding-top: rem(2);
  position: relative;
  user-select: none;

  &::before, &::after {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
  }

  &::before {
    content: '';
    height: 1rem;
    width: 1rem;
    display: inline-block;
    background: $color-background-septenary;
  }
}

.textarea {
  width: 100%;
  border: 1px solid $color-border-primary;
  border-radius: $border-radius-primary;
  padding: $base-spacing * 1.75;
  transition: all 0.1s ease-in-out;

  &:focus {
    border-color: $color-border-quinary;
  }

  &:disabled {
    background: $color-background-senary;
  }
}

.input-amount {
  position: absolute;
  bottom: 0;
  left: 0.875rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  font-size: $primary-font-s;
}

.input-unit {
  position: absolute;
  bottom: 0;
  right: 0.875rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  font-size: $primary-font-s;
  color: rgba($color-text-secondary, 0.5);
}
