.max-width-wrapper {
  width: 100%;
  @include larger-than(full) {
    max-width: $width-page-content-max;
  }
}

.max-width-wrapper--small {
  width: 100%;

  // TODO: mobile for full?
  @include larger-than(mobile) {
    max-width: $width-page-content-max--small;
  }
}


%content-wrapper-small,
.content-wrapper--small,
%content-wrapper,
.content-wrapper {
  margin-right: auto;
  margin-left: auto;
  padding: 0 $body-padding--mobile;
  position: relative;

  @include larger-than(full) {
    padding-right: 0;
    padding-left: 0;
  }
}

%content-wrapper,
.content-wrapper {
  @extend .max-width-wrapper;
}

%content-wrapper-small,
.content-wrapper--small {
  @extend .max-width-wrapper--small;

  // TODO: mobile for full?
  @include larger-than(mobile) {
    padding-right: 0;
    padding-left: 0;
  }
}

.grid-two {
  > * + * {
    margin-top: $body-padding--mobile;

    @include larger-than(smallMobile) {
      margin-top: 0;
    }
  }

  @include larger-than(smallMobile) {
    @include columns(2, $body-padding--mobile);
  }
}

.grid-two--tablet-shrink {
  width: 100%;

  > * + * {
    margin-top: $body-padding--mobile;

    @include larger-than(tablet) {
      margin-top: 0;
    }
  }

  @include larger-than(tablet) {
    @include columns(2, $body-padding--mobile);
  }
}

.grid-two--margin {
  width: 100%;

  @include larger-than(smallMobile) {
    > * {
      &:nth-last-child(-n+2) {
        margin-bottom: $body-padding--mobile;
      }
    }
  }
}

.grid-three {
  @include columns(2, $body-padding--mobile);

  > * + * {
    margin-top: $body-padding--mobile;

    @include larger-than(smallMobile) {
      margin-top: 0;
    }
  }

  @include larger-than(tablet) {
    @include columns(3, $body-padding--mobile);
  }
}

.grid-four {
  width: 100%;
  margin-top: 0;
  @include columns(2, $body-padding--mobile);

  > * + * {
    @include larger-than(smallMobile) {
      margin-top: 0;
    }
  }

  @include larger-than(tablet) {
    @include columns(4, $body-padding--mobile);
  }
}

.grid-row {
  display: flex;
}
